.container {
    background-color: aqua;
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: row-reverse;
}

#div-1{
    background-color: blue;
    height: 20vh;
    width: 10vw;
    margin: 5px 5px 5px 5px;
}

#div-2{
    background-color: red;
    height: 20vh;
    width: 10vw;
    margin: 5px 5px 5px 5px;
}

#div-3{
    background-color: black;
    height: 20vh;
    width: 10vw;
    margin: 5px 5px 5px 5px;
}

#div-4{
    background-color: yellow;
    height: 20vh;
    width: 10vw;
    margin: 5px 5px 5px 5px;
}